.rootNavbar {
    &:hover {
        transition: width .6s ease-in-out;
        width: 150px;

        [class~="mantine-Button-label"] {
            margin: 0px 10px;
            transition: margin .6s ease-in-out;
        }
    }

    border: none;
    background-color: #1B093C;
    width: 90px;

    [class~="mantine-Button"] {
        margin-inline-start: 0px 0px 0px 2px;
    }

    [class~="mantine-Button-label"] {
        margin: 0px 0px;
        transition: margin .6s ease-in-out;
    }

    [class~="mantine-Button-section"] {
        margin-inline-end: 0;
        margin-inline-start: 0;
    }

    transition: width .6s ease-in-out;
}

.rootMain {
    padding-inline-start: 49px;
    background-image: url('../../assets/images/background.png');
    background-size: 150%;
    background-position: -350px -190px;
    background-repeat: no-repeat;
}

.rootBottomSectionBox {
    background-color: white;
}


.rootButton {

    font-weight: 700;
    font-size: 18px;
    display: flex;
    border-radius: 4px;
    padding: 10px;
    height: 100%;
    flex: 1;

    .innerButton {
        min-width: 150px;
        min-height: 150px;
    }

    .labelButton {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        width: 100%;

    }
}
