.rootNavbar {
    &:hover {
        transition: width .6s ease-in-out;
        width: 150px;

        [class~="mantine-Button-label"] {
            margin: 0px 10px;
            transition: margin .6s ease-in-out;
        }
    }

    border: none;
    background-color: #1B093C;
    width: 90px;

    [class~="mantine-Button"] {
        margin-inline-start: 0px 0px 0px 2px;
    }

    [class~="mantine-Button-label"] {
        margin: 0px 0px;
        transition: margin .6s ease-in-out;
    }

    [class~="mantine-Button-section"] {
        margin-inline-end: 0;
        margin-inline-start: 0;
    }

    transition: width .6s ease-in-out;
}

.rootMain {
    padding-inline-start: 114px;
    padding-inline-end: 24px;
    padding-bottom: 24px;
    padding-top: 80px;

}
.rootHeader {
    height: 80px;
    padding-inline-start: 90px;
}


.rootBottomSectionBox {
    background-color: white;
    height: calc(-138px + 100dvh);
}
